name: Create and publish a Docker image
on:
  push:
  workflow_dispatch:
   inputs:
      build_name:
        description: 'build image name'
        required: false
        default: ''
  schedule:
    - cron: "0 0 * * *"
env:
  REGISTRY: ghcr.io
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - id: matrix
        name: Setup
        run: |
          if [ "x${{ inputs.build_name }}" = "x" ]; then
            echo "matrix=$(ls images | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          else
            echo "matrix=$(ls images | grep -i ${{ inputs.build_name }} | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          fi
  deploy:
    runs-on: ubuntu-latest
    needs: setup
    continue-on-error: true
    strategy:
      matrix:
        image: ${{fromJson(needs.setup.outputs.matrix)}}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: images/${{ matrix.image }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/images/${{ matrix.image }}:latest
          labels: org.opencontainers.image.title=docker-images
